## if statement

In [98]:
num = int(input ('enter the value'))

if num>0:
    print ('positive')
else:
    print('negative')

enter the value10
positive

## if else statement

In [100]:
num = int(input ('enter the value'))

if num>0:
    print ('positive')
elif num ==0:
    print ('zero')
else:
    print('negative')

enter the value0
zero

## nested if condition

In [103]:
num = int(input ('enter the value'))

if num>=0:
    if num ==0:
        print('zero')
    else:
        print('Positive')
else:
    print('Negative')

enter the value0
zero

## For Loop

In [133]:
list1 = [1,2,3,15]

add =0

for i in list1:
    add = add+i
  ##  if add == 25:
    print (add)
    ##else:
      ##  print(add)
    ##break    
print ('final add value is ',add)

1
3
6
21
final add value is  21

21

## Day 5

In [1]:
list_city=['chennai','kolkata','mumbai']

In [2]:
len(list_city)

3

In [5]:
for i in range (len(list_city)):
    print('i like to go to', list_city[i])

i like to go to chennai
i like to go to kolkata
i like to go to mumbai

In [11]:
num = [1,10,20]
for i in num:
    if i ==20:
        break
    print ('the number is',i)
else:
    print ('i have', i, 'days')

the number is 1
the number is 10

## while loop

In [13]:
num = int(input('entetr the number'))
i = 0
sum_var = 0

while i<num:
    sum_var = sum_var + i
    i = i+1
print(sum_var)

entetr the number5
10

## Break and continue

In [19]:
for i in 'country':
    if i == 'r':
        break
    print(i)

c
o
u
n
t

In [20]:
for i in 'country':
    if i == 'r':
        continue
    print(i)

c
o
u
n
t
y

In [33]:
list_val = ['p','q','p','r','s']

for i in list_val:
    if i == 'r':
        print(i)
    else:
        print (i)

p
q
p
r
s

In [34]:
## pass statement

list_val = ['p','q','p','r','s']

for i in list_val:
    pass

## pass execute the loop but no result