In [72]:
import pandas as pd
import os
import string
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [27]:
df = pd.read_csv(r'C:\Users\moham\OneDrive - University of Central Missouri\Desktop\Imran\Training\Inceptez\Data\spam.tsv', sep='\t', names=['Class', 'Message'])

In [28]:
df.head(10)

  Class                                            Message
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham               I HAVE A DATE ON SUNDAY WITH WILL!!!
5   ham  As per your request 'Melle Melle (Oru Minnamin...
6  spam  WINNER!! As a valued network customer you have...
7  spam  Had your mobile 11 months or more? U R entitle...
8   ham  I'm gonna be home soon and i don't want to tal...
9  spam  SIX chances to win CASH! From 100 to 20,000 po...

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5567 entries, 0 to 5566
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Class    5567 non-null   object
 1   Message  5567 non-null   object
dtypes: object(2)
memory usage: 87.1+ KB

In [30]:
df.describe()

       Class                 Message
count   5567                    5567
unique     2                    5164
top      ham  Sorry, I'll call later
freq    4821                      30

In [31]:
df['Length'] = df['Message'].apply(len)

In [32]:
df[:6]

  Class                                            Message  Length
0   ham  I've been searching for the right words to tha...     196
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
2   ham  Nah I don't think he goes to usf, he lives aro...      61
3   ham  Even my brother is not like to speak with me. ...      77
4   ham               I HAVE A DATE ON SUNDAY WITH WILL!!!      36
5   ham  As per your request 'Melle Melle (Oru Minnamin...     160

In [33]:
df['Length'].describe()

count    5567.000000
mean       80.450153
std        59.891023
min         2.000000
25%        36.000000
50%        62.000000
75%       122.000000
max       910.000000
Name: Length, dtype: float64

In [34]:
df[df['Length'] == 910]

     Class                                            Message  Length
1080   ham  For me the love should start with attraction.i...     910

In [36]:
df['Class']= df['Class'].map({'ham':0,'spam':1})

In [37]:
# df.loc[df['Class'] == 'ham', 'Class'] = 1
# df['Class']= np.where(df['Class'].str.contains('ham'),1,0 )

In [38]:
df[:5]

   Class                                            Message  Length
0      0  I've been searching for the right words to tha...     196
1      1  Free entry in 2 a wkly comp to win FA Cup fina...     155
2      0  Nah I don't think he goes to usf, he lives aro...      61
3      0  Even my brother is not like to speak with me. ...      77
4      0               I HAVE A DATE ON SUNDAY WITH WILL!!!      36

In [39]:
df.dtypes

Class       int64
Message    object
Length      int64
dtype: object

In [40]:
df['Class'].values

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

### Remove the punctuations

In [46]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [41]:
def cleanMessage(message):
    nonPunc = [word for word in message if word not in string.punctuation]
    nonPunc = "". join(nonPunc)
    return nonPunc

In [47]:
df['Message'] = df['Message'].apply(cleanMessage)

In [48]:
df[:5]

   Class                                            Message  Length
0      0  Ive been searching for the right words to than...     196
1      1  Free entry in 2 a wkly comp to win FA Cup fina...     155
2      0  Nah I dont think he goes to usf he lives aroun...      61
3      0  Even my brother is not like to speak with me T...      77
4      0                  I HAVE A DATE ON SUNDAY WITH WILL      36

### CountVectorizer

In [51]:
cv =  CountVectorizer(stop_words= 'english')

In [52]:
X = df['Message'].values
y = df['Class'].values

In [54]:
y

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

### Train test split

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=0)

In [92]:
X_train_cv = cv.fit_transform(X_train)

In [93]:
X_train_cv

<4453x8214 sparse matrix of type '<class 'numpy.int64'>'
	with 34545 stored elements in Compressed Sparse Row format>

### Modeling - NB

In [94]:
NB = GaussianNB()

In [95]:
y_train = y_train.astype('int')

In [96]:
X_train_cv = X_train_cv.todense()

In [97]:
NB.fit(X_train_cv, y_train)

C:\Users\moham\anaconda3\lib\site-packages\sklearn\utils\validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

GaussianNB()

In [98]:
X_test_cv = cv.transform(X_test)

In [99]:
X_test_cv = X_test_cv.todense()

In [100]:
type(X_test_cv)

numpy.matrix

In [101]:
y_pred = NB.predict(X_test_cv)

C:\Users\moham\anaconda3\lib\site-packages\sklearn\utils\validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

In [102]:
len(y_test), len(y_pred)

(1114, 1114)

In [103]:
acc_score = accuracy_score(y_test, y_pred)

In [104]:
print('The accuracy of the NB model is :', acc_score)

The accuracy of the NB model is : 0.8940754039497307

### Spam classifier app

In [105]:
msg1 = input('please enter messgae ')
msg = [msg1]
msginput = cv.transform(msg)
predcition = NB.predict(msginput.todense())
if(predcition[0]==0):
    print('********MSG to INBOX********')
else:
    print('********MSG to SPAM********')

please enter messgae I HAVE A DATE ON SUNDAY WITH WILL
********MSG to INBOX********

C:\Users\moham\anaconda3\lib\site-packages\sklearn\utils\validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(