## 1.	Import the necessary package to

### a.	Set the current working directory

In [40]:
import os
import numpy as np
os.getcwd()

'C:\\Users\\Guhan Ramachandran\\Google Drive\\Data Science\\phyton\\Python assignments'

### b.	Change the working directory

In [2]:
import os
os.getcwd()

'C:\\Users\\Guhan Ramachandran\\Google Drive\\Data Science'

## 2.	Create the string, int and float variable and delete them all in the next cell

In [4]:
a = str('Guhan')
b = int(5)
c = float(5.5)

print (a,b,c)

Guhan 5 5.5

In [5]:
del a,b,c

In [6]:
print (a,b,c)

NameError: name 'a' is not defined

## 3.	What’s the result of assigning a value to a ‘keyword’?
### a.Please highlight the error

In [35]:
True = 'False'

SyntaxError: cannot assign to True (Temp/ipykernel_3388/1927172361.py, line 1)

## 4.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [3]:
a=(1+2+3+
   4+5+6+7+
   8+9+10)
print(a)

55

## 5.	Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [7]:
list(range(100, 999, 8))

[100,
 108,
 116,
 124,
 132,
 140,
 148,
 156,
 164,
 172,
 180,
 188,
 196,
 204,
 212,
 220,
 228,
 236,
 244,
 252,
 260,
 268,
 276,
 284,
 292,
 300,
 308,
 316,
 324,
 332,
 340,
 348,
 356,
 364,
 372,
 380,
 388,
 396,
 404,
 412,
 420,
 428,
 436,
 444,
 452,
 460,
 468,
 476,
 484,
 492,
 500,
 508,
 516,
 524,
 532,
 540,
 548,
 556,
 564,
 572,
 580,
 588,
 596,
 604,
 612,
 620,
 628,
 636,
 644,
 652,
 660,
 668,
 676,
 684,
 692,
 700,
 708,
 716,
 724,
 732,
 740,
 748,
 756,
 764,
 772,
 780,
 788,
 796,
 804,
 812,
 820,
 828,
 836,
 844,
 852,
 860,
 868,
 876,
 884,
 892,
 900,
 908,
 916,
 924,
 932,
 940,
 948,
 956,
 964,
 972,
 980,
 988,
 996]

## 6.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [34]:
list3=[1,5,7,8]

for n in list3:
    if (n%2==0):
        break
    else:
        print(n)

1
5
7

## 7.	Write a simple function and call the docstring from outside the function

In [43]:
def fun1(var1):
    """ Hi, This is Guhan"""

In [46]:
print(fun1.__doc__)

 Hi, This is Guhan

## 8.	Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. 
### Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last

#### << Formula to calculate semi-perimeter: s = (a+b+c )/2
#### << Formula to calculate area = (s*(s-a) * (s-b) * (s-c)) ** 0.5 >>
#### a.	15
#### b.	51
#### c.	17

In [96]:
import guhan_package

In [97]:
from guhan_package import area

In [99]:
area.s

41.5

In [101]:
s1 = area.s 
print ('Semi pPerimeter, s1')

Semi pPerimeter, s1

In [104]:
d=area.a+area.b+area.c
s = d/2

print('Semi Perimeter=',s)

area1 = (s*(s - area.a)*(s - area.b)*(s - area.c))*0.5

print('Area =', area1)

Semi Perimeter= 41.5
Area = -127983.40625

## 9.	Write a list comprehension to print the odd numbers from 0 to 100

In [109]:
list5 = range(0,100)

for i in list5:
    if i%2 !=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## 10.	 Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)
### a.	Ex: name = Imran
### b.	Output = [‘m’, ‘r’, ‘n’]

In [111]:
s1='aeiou'
name1='imran'
s2=[i for i in name1 if i not in s1]
print(s2)

['m', 'r', 'n']