## 1.	Create a file calc.py which has following functions
### a.	Function to find the factorial of a number
### b.	Function to convert degree to Fahrenheit
### Write a new program in file “maths.py” such that you import functions of the file calc.py to your new program. Use from (module) import (functions) statement to import the functions from the calc module

In [1]:
import guhan_packages

In [2]:
from guhan_packages import maths

In [3]:
maths.func5()

Enter the number for Factorial : 5
Enter the Celsius value : 5
The factorial of  5 is :  120
fahrenheit value of  5 'C is :  41 'F

calc.py
(for your reference)

def factorial2(c):
    factorial=1
    if c<0:
        print("Sorry We cant do factorial for negative numbers")
    elif c==0:
        print("Factorial of ", c, "is: 1")
    else:
        for i in range (1, c+1):
            factorial = factorial*i
        print("The factorial of ", c , "is : " , factorial)

def farhen(b):
    f=int(b*1.8)+32
    print ("fahrenheit value of ", b,"'C is : ", f,"'F")

maths.py
(for your reference)

def func5():
    from guhan_packages import calc
    a1=int(input('Enter the number for Factorial : '))
    a2=int(input('Enter the Celsius value : '))
    calc.factorial2(a1)
    calc.farhen(a2)

## 2.	Implement a simple generator for Fibonacci series

In [58]:
def generator_fibno(num):
    n1 = 0
    n2 = 1
    for i in range(num):
        n3 = n1 + n2
        yield (n3)
        n1 = n2
        n2 = n3

In [59]:
var1=generator_fibno(4)

In [60]:
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))
print(next(var1))

1
2
3
5

StopIteration:

## 3.	Write an iterator class to iterate over a sequence of values in the reverse direction

In [63]:
[i**2 for i in range (10,0,-1)]

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

### 4.	Write a function “salary” that takes in base pay, HRA and special allowance as arguments and returns the sum of all the 3 salary elements. Then create a decorator function to add an additional element “Tax” (30% of base pay) and assign it back to base pay variable, and return the function (i.e., the final calculation of salary also includes tax)

In [89]:
def salary1(func):
    def salary2(base_pay, HRA, S_allowance):
        tax = (30/100) * base_pay
        n_base_pay = tax + base_pay
        return func(n_base_pay, HRA, S_allowance)
    return salary2

In [103]:
@salary1
def salary2(a,b,c):
    print('Base Pay :',a)
    print('lHRA :',b)
    print('Special Allowance :', c)
    print('Total Salary with TAX :')
    return a+b+c

In [104]:
salary2(30,10,20)

Base Pay : 39.0
lHRA : 10
Special Allowance : 20
Total Salary with TAX :

69.0

## 5.	Write 3 examples on possible methods to changing a tuple

In [107]:
tuple1=(2,4,5,[6,7,8])
tuple1[3][1]=15
tuple1

(2, 4, 5, [6, 15, 8])

In [114]:
tuple2= (1,2,3,4,5,6)
tuple2[:2]+(8,9,10)+tuple2[3:]

(1, 2, 8, 9, 10, 4, 5, 6)

In [117]:
tuple4=(4,5,6,7,8,9)
l1 = list(tuple4)
l1[4]=15
tuple5 = tuple(l1)
tuple5

(4, 5, 6, 7, 15, 9)